In [1]:
import pandas as pd
import sys
%matplotlib inline

In [2]:
print 'Python version ' + sys.version
print 'Pandas version ' + pd.__version__

Python version 2.7.10 |Anaconda 2.3.0 (64-bit)| (default, May 28 2015, 16:44:52) [MSC v.1500 64 bit (AMD64)]
Pandas version 0.16.2

# Sort

### How do I sort a column ascending?

In [3]:
# dataframe
df = pd.DataFrame(data={'col1':[0,10,2,30,4]})
df

   col1
0     0
1    10
2     2
3    30
4     4

In [4]:
# Sort by col1 ascending
df.sort(columns='col1')

   col1
0     0
2     2
4     4
1    10
3    30

### How do I sort by the index?

In [5]:
# Unordered index

d = {'col2':[22,10,113]}

i = [pd.Timestamp('20130102'),
     pd.Timestamp('2013-01-01'),
     pd.Timestamp('1/3/2013')]
                 

df = pd.DataFrame(data=d, index = i)
df

            col2
2013-01-02    22
2013-01-01    10
2013-01-03   113

In [6]:
# Index sorted ascending
df.sort_index()

            col2
2013-01-01    10
2013-01-02    22
2013-01-03   113

**Author:** [David Rojas](http://www.hedaro.com/)